<h1>Users#profile</h1>
<p>Find me in app/views/users/profile.html.erb</p>

<tbody>
        <td><%= @user.full_name %></td>
        <td>email:<%= @user.email %></td>
        <td>address:<%= @user.address %></td>
        <td>zip code:<%= @user.zip_code %></td>
        <td>state:<%= @user.state %></td>
        <td>country:<%= @user.country %></td>
        <td>description:<%= @user.description%></td>
</tbody>
