<!-- app/views/users/profile.html.erb -->

<div class="profile-page">
  <% if notice.present? %>
    <div class="alert alert-success" role="alert" id="notice">
      <%= notice %>
    </div>
  <% end %>
  <h1>User Profile</h1>

  <div class="profile-content">
    <%= image_tag @user.avatar_url, alt: @user.full_name, class: "profile-avatar" if @user.avatar_url.present? %>
    <% average_rating = @average_rating %>
    <% if average_rating > 0 %>
      <p class = 'seller-rating'>
        <% full_stars = average_rating.floor %>
        <% half_star = (average_rating % 1) >= 0.5 ? 1 : 0 %>
        <% empty_stars = 5 - full_stars - half_star %>

        <% full_stars.times do %>
          <i class="fas fa-star checked"></i>
        <% end %>
        <% if half_star > 0 %>
          <i class="fas fa-star-half-alt checked"></i>
        <% end %>
        <% empty_stars.times do %>
          <i class="far fa-star"></i>
        <% end %>

        Your Rating is: <%= average_rating.round(1) %>/5
      </p>
    <% end %>
    <table class="profile-details">
      <tr>
        <th>Full Name:</th>
        <td><%= @user.full_name %></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>Address:</th>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <th>Zip Code:</th>
        <td><%= @user.zip_code %></td>
      </tr>
      <tr>
        <th>State:</th>
        <td><%= @user.state %></td>
      </tr>
      <tr>
        <th>Country:</th>
        <td><%= @user.country %></td>
      </tr>
      <tr>
        <th>Description:</th>
        <td><%= @user.description %></td>
      </tr>
    </table>
  </div>

  <% if current_user == @user %>
    <%= link_to 'Edit Profile', edit_user_registration_path, class: "edit-profile-button back-button" %>
  <% end %>

</div>


<style>
  .fa-star.checked,
  .fa-star-half-alt.checked {
    color: gold;
  }
</style>
