<!-- app/views/users/profile.html.erb -->

<div class="profile-page">
  <h1>User Profile</h1>

  <div class="profile-content">
    <%= image_tag @user.avatar_url, alt: @user.full_name, class: "profile-avatar" if @user.avatar_url.present? %>

    <table class="profile-details">
      <tr>
        <th>Full Name:</th>
        <td><%= @user.full_name %></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>Address:</th>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <th>Zip Code:</th>
        <td><%= @user.zip_code %></td>
      </tr>
      <tr>
        <th>State:</th>
        <td><%= @user.state %></td>
      </tr>
      <tr>
        <th>Country:</th>
        <td><%= @user.country %></td>
      </tr>
      <tr>
        <th>Description:</th>
        <td><%= @user.description %></td>
      </tr>
    </table>
  </div>

  <% if current_user == @user %>
    <%= link_to 'Edit Profile', edit_user_registration_path, class: "edit-profile-button" %>
  <% end %>
  <% if @average_rating != 0 %>
    <h2>Average Item Rating:</h2>
    <p><%= @average_rating %>/5</p>
  <% end %>
</div>
