<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>ThriftyUStore Home</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<!-- <div class="container-fluid"> -->

  <!-- Header -->
  <!-- <header> -->

  <!-- </header> -->

  <!-- Hero Section -->
  <section class="hero bg-light py-5">
    <h1 class="display-4 text-center">Welcome to ThriftyUStore</h1>
    <p class="lead text-center">
      Your one-stop marketplace for buying and selling among international students. Discover a community that saves together.
    </p>
    <div class="text-center mt-4">
      <%= link_to "Shop Now", items_path, class: "btn btn-lg btn-primary" %>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer mt-auto py-3 bg-primary text-white text-center">
    <div class="container">
      <span>Copyright © <%= Time.now.year %> ThriftyUStore. All rights reserved.</span>
      <!-- Potential space for social media links/icons -->
    </div>
  </footer>

<!-- </div> -->

<!-- Bootstrap and jQuery libraries -->
<%= javascript_include_tag 'https://code.jquery.com/jquery-3.5.1.slim.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>

</body>
</html>
