<div class="container mt-4">
  <!-- Item Image and Owner Info -->
  <div class="row justify-content-center">
    <div class="col-md-8 position-relative">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, class: 'img-fluid rounded' %>
      <% end %>


      <!-- Owner Details in top-right corner below the image -->
      <div class="position-absolute" style="top: 100%; right: 0;">
        <% if @item.user.avatar_url.present? %>
          <%= link_to user_path(@item.user) do %>
            <%= image_tag @item.user.avatar_url, class: 'img-fluid rounded-circle mr-2', alt: @item.user.full_name, style: "width: 50px; height: 50px;" %>
          <% end %>
        <% end %>
        <strong>Owner:</strong>
        <%= link_to @item.user.full_name, user_path(@item.user), class: 'ml-2' %>

        <!-- Display Seller's Average Rating -->
        <% average_rating = @item.user.average_item_rating %>
        <% if average_rating > 0 %>
          <p>
            <% full_stars = average_rating.floor %>
            <% half_star = (average_rating % 1) >= 0.5 ? 1 : 0 %>
            <% empty_stars = 5 - full_stars - half_star %>

            <% full_stars.times do %>
              <i class="fas fa-star checked"></i>
            <% end %>
            <% if half_star > 0 %>
              <i class="fas fa-star-half-alt checked"></i>
            <% end %>
            <% empty_stars.times do %>
              <i class="far fa-star"></i>
            <% end %>

            Seller Rating: <%= average_rating.round(1) %>/5
          </p>
        <% end %>
      </div>
      <% if @item.buyer_email %>
        <div class="alert alert-warning mt-3">
          <strong>This item has been sold.</strong>
        </div>
      <% end %>

    </div>
  </div>

  <!-- Item Details -->
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <h3 class="mb-4">
        <%= @item.title %>
        <% if current_user && !current_user.likes?(@item) %>
        <%= link_to add_to_wish_list_item_path, method: :post, class: 'btn btn-primary ml-2', id: 'add-wishlist-button' do %>
          <i class="fas fa-heart"></i> Add to Wish List
        <% end %>
        <% elsif current_user %>
        <%= link_to remove_from_wish_list_item_path(id: @item.id), method: :delete, class: 'btn btn-danger ml-2', id: 'remove-wishlist-button' do %>
          <i class="fas fa-heart"></i> Remove from Wish List
        <% end %>

        <% end %>
      </h3>
      <!-- Display Item Rating -->
          <% if @item.rating %>
          <div class="d-flex align-items-center mt-3">
          <!-- Display item rating -->
          <% 5.times do |i| %>
            <% if i < @item.rating %>
              <i class="fas fa-star checked"></i> <!-- Filled star -->
            <% else %>
              <i class="far fa-star"></i> <!-- Unfilled star -->
            <% end %>
          <% end %>
          <p class="ml-2 mb-0">Rating: <%= @item.rating %>/5</p>

          <!-- "Submit Rating" form immediately next to item rating -->
          <% if current_user.email == @item.buyer_email %>
            <%= form_tag update_rating_item_path(@item), method: :patch, class: 'ml-2 d-flex align-items-center' do %>
              <%= number_field_tag :rating, @item.rating, in: 1..5 %>
              <%= submit_tag 'Submit Rating', class: 'btn btn-primary ml-2' %>
            <% end %>
          <% end %>
        </div>
          <% end %>


      <div class="mb-3">
        <strong>Detail:</strong>
        <p><%= @item.detail %></p>
      </div>

      <div class="mb-3">
        <strong>Price:</strong>
        <p>$<%= @item.price %></p>
      </div>
      <% if current_user == @item.user && @item.buyer_email.nil? %>
        <h3>Mark as Sold</h3>
        <%= form_for @item, url: mark_as_sold_item_path(@item), method: :put do |f| %>
          <%= f.label :buyer_email, "Buyer's Email:" %>
          <%= f.text_field :buyer_email %>
          <%= f.submit "Mark as Sold", class: 'btn btn-primary' %>
        <% end %>
      <% end %>





      <!-- <div class="container"> -->
        <!-- Form for Submitting New Comment -->
        <div class="new-comment-form mt-4">
          <%= render 'comments/form', item: @item, comment: Comment.new %>
        </div>

        <!-- Comments Section -->
        <div class="comments-section mt-4">
          <% @item.comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment, item: @item %>
          <% end %>
        </div>
        <% flash.each do |key, message| %>
          <div class="alert <%= key == 'notice' ? 'alert-success' : 'alert-danger' %>">
            <%= message %>
          </div>
        <% end %>
      <!-- Back Button -->
      <%= link_to 'Back', items_path, class: 'btn btn-secondary' %>
    <!-- </div> -->
  </div>
</div>


<style>
  .fa-star.checked,
  .fa-star-half-alt.checked {
    color: gold;
  }
</style>


<script>
  document.addEventListener('turbolinks:load', function() {
    document.body.addEventListener('click', function(event) {
      // Handling the Edit button clicks
      if (event.target.classList.contains('edit-comment-button')) {
        var commentId = event.target.dataset.commentId;
        var commentBody = document.querySelector('.comment-' + commentId + ' .comment-body');
        var editForm = document.querySelector('#edit-comment-form-' + commentId);

        if (commentBody && editForm) {
          commentBody.classList.add('d-none');
          editForm.classList.remove('d-none');
        }
      }

      // Handling the Cancel button clicks in the edit form
      if (event.target.classList.contains('cancel-edit')) {
        var editForm = event.target.closest('.edit-comment-form');
        if (editForm) {
          var commentId = editForm.getAttribute('id').replace('edit-comment-form-', '');
          var commentBody = document.querySelector('.comment-' + commentId + ' .comment-body');

          if (commentBody) {
            editForm.classList.add('d-none');
            commentBody.classList.remove('d-none');
          }
        }
      }
    });
    // AJAX for adding to wishlist
    $('#add-wishlist').off('click').on('click', function(e) {
      console.log("Add to wishlist clicked"); // Just for debugging

      e.preventDefault();
      var url = $(this).attr('href');

      $.ajax({
        url: url,
        method: 'POST',
        dataType: 'json', // Expecting a JSON response
        contentType: 'application/json', // Sending JSON content
        success: function(response) {
          $('#wishlist-button').text('Added to Wishlist');
          $('#flash-messages').html('<div class="alert alert-success">' + response.message + '</div>');
        },
        error: function() {
          $('#flash-messages').html('<div class="alert alert-danger">An error occurred.</div>');
        }
      });
    });

    // AJAX for removing from wishlist
    $('#remove-wishlist').off('click').on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('href');

      $.ajax({
        url: url,
        method: 'DELETE',
        dataType: 'json', // Expecting a JSON response
        contentType: 'application/json', // Sending JSON content
        success: function(response) {
          $('#flash-messages').html('<div class="alert alert-success">' + response.message + '</div>');
          $('#remove-wishlist').hide();
          $('#add-wishlist').show();
        },
        error: function() {
          $('#flash-messages').html('<div class="alert alert-danger">An error occurred.</div>');
        }
      });
    });
  });

</script>
